h1 {
    font-family: sans-serif;
    text-align: center;
}

body {
    width: 640px;
    margin: 0 auto;
}

.display-image {
    position: relative;
    width: 640px;
    height: 480px;
    display:block;
}


.overlay {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
}

button {
    position: absolute;
    top: 2px;
    left: 2px;
    text-shadow: 2px 2px 2px white;
    cursor: pointer;
}

.smallImage img{
    width: 20%;
    float: left;
    display: block;
    cursor: pointer;
}